[defaults]
inventory = ./inventory.ini
private_key_file = ~/.ssh/id_rsa
interpreter_python = /usr/bin/python3

[ssh_connection]
# Accepte automatiquement les nouvelles clés SSH sans demander confirmation
ssh_args = -o StrictHostKeyChecking=accept-new